.wp-block-nortic-plugin-document-explorer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  /* padding: 24px;
  background-color: var(--wp--preset--color--nortic-light-blue);
  border-radius: 12px; */
}

/* breadcrumbs */
.wp-block-nortic-plugin-document-explorer .document-explorer-breadcrumbs {
  padding: 8px 0;
  border-top: 1px;
  border-bottom: 1px;
  border-style: solid;
  background-color: var(--wp--preset--color--nortic-white);
  border-color: var(--wp--preset--color--nortic-ultimate-gray);
}

.wp-block-nortic-plugin-document-explorer .document-explorer-breadcrumbs a {
  color: var(--wp--preset--color--nortic-black);
  font-weight: 400;
  font-size: 13px;
}

.wp-block-nortic-plugin-document-explorer
  .document-explorer-breadcrumbs
  a:last-of-type {
  color: var(--wp--preset--color--nortic-blue);
  font-weight: 700;
}

.wp-block-nortic-plugin-document-explorer
  .document-explorer-breadcrumbs-current-title {
  font-size: 2rem;
  line-height: 1.2;
  color: var(--wp--preset--color--nortic-blue);
}

.wp-block-nortic-plugin-document-explorer ul.document-explorer-list.items-list {
  list-style: none;
  list-style-type: none !important;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-top: 0 !important;
  padding-left: 0 !important;
  gap: 16px;
  padding-bottom: 2rem !important;
  /* margin-bottom: 1rem !important; */
  border-bottom: 1px;
  border-style: solid;
  border-color: var(--wp--preset--color--nortic-ultimate-gray);
  /* margin-bottom: 54px; */
}

.wp-block-nortic-plugin-document-explorer
  ul.document-explorer-list.items-list
  .document-explorer-item.file
  .document-explorer-item-file {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  /* border: 1px solid #f5f5f5; */
  border-width: 1px;
  border-style: solid;
  background-color: var(--wp--preset--color--nortic-white);
  /* border-color: var(--wp--preset--color--nortic-ultimate-gray); */
  padding: 12px 24px;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
}

/* card hover */
.wp-block-nortic-plugin-document-explorer
  ul.document-explorer-list.items-list
  .document-explorer-item-file:hover {
  box-shadow: 0px 10px 40px 0px rgba(211, 211, 211, 0.5);
  /* border-color: var(--wp--preset--color--nortic-dark-gray); */
  cursor: pointer;
}

.wp-block-nortic-plugin-document-explorer
  ul.document-explorer-list.items-list
  .document-explorer-item-file
  .document-explorer-item-file-content
  img {
  height: 64px;
  width: auto;
}

.wp-block-nortic-plugin-document-explorer
  ul.document-explorer-list.items-list
  .document-explorer-item-file
  .document-explorer-item-file-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* file title */
.wp-block-nortic-plugin-document-explorer
  ul.document-explorer-list.items-list
  .document-explorer-item.file
  .document-explorer-item-file-info
  .document-explorer-item-file-title {
  font-weight: 600;
  color: var(--wp--preset--color--nortic-black);
  transition: all 0.3s ease-in-out;
}

.wp-block-nortic-plugin-document-explorer
  ul.document-explorer-list.items-list
  .document-explorer-item-file:hover
  .document-explorer-item-file-info
  .document-explorer-item-file-title {
  color: var(--wp--preset--color--nortic-blue);
}

/* file meta */

.wp-block-nortic-plugin-document-explorer
  ul.document-explorer-list.items-list
  .document-explorer-item-file
  .document-explorer-item-file-info
  .document-explorer-item-file-meta {
  color: var(--wp--preset--color--nortic-dark-gray);
  font-weight: 400;
}

.wp-block-nortic-plugin-document-explorer
  ul.document-explorer-list.items-list
  .document-explorer-item-file
  .document-explorer-item-file-download-button {
  background-color: var(--wp--preset--color--nortic-blue);
  color: var(--wp--preset--color--nortic-white);
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 60px;
  padding: 12px 32px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.wp-block-nortic-plugin-document-explorer
  ul.document-explorer-list.items-list
  .document-explorer-item-file
  .document-explorer-item-file-download-button:hover {
  background-color: var(--wp--preset--color--nortic-blue-hover);
}

.wp-block-nortic-plugin-document-explorer .document-explorer-viewers {
  background-color: var(--wp--preset--color--nortic-light-blue);
  padding: 24px;
}

/* folders  */

.wp-block-nortic-plugin-document-explorer
  ul.document-explorer-list.folder-list {
  background-color: var(--wp--preset--color--nortic-white);
}

.wp-block-nortic-plugin-document-explorer
  ul.document-explorer-list.folder-list
  .document-explorer-item.folder {
  width: 100%;
  padding: 12px;
}

.wp-block-nortic-plugin-document-explorer
  ul.document-explorer-list.folder-list
  .document-explorer-item.folder:hover {
  background-color: var(--wp--preset--color--nortic-light-blue);
}

.wp-block-nortic-plugin-document-explorer
  ul.document-explorer-list.folder-list
  .document-explorer-item.folder
  .document-explorer-item-folder {
  display: flex;
  align-items: center;
  gap: 24px;
}

.wp-block-nortic-plugin-document-explorer
  ul.document-explorer-list.folder-list
  .document-explorer-item.folder
  .document-explorer-item-folder
  .document-explorer-item-folder-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* folder title */
.wp-block-nortic-plugin-document-explorer
  ul.document-explorer-list.folder-list
  .document-explorer-item.folder
  .document-explorer-item-folder
  .document-explorer-item-folder-info
  .document-explorer-item-folder-title {
  color: var(--wp--preset--color--nortic-black);
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  line-height: 1.2rem;
}

.wp-block-nortic-plugin-document-explorer
  ul.document-explorer-list.folder-list
  .document-explorer-item.folder:hover
  .document-explorer-item-folder
  .document-explorer-item-folder-info
  .document-explorer-item-folder-title {
  color: var(--wp--preset--color--nortic-blue);
}

/* NOTE */
.wp-block-nortic-plugin-document-explorer
  ul.document-explorer-list.items-list
  .document-explorer-item.note
  .document-explorer-item-note {
  background-color: var(--wp--preset--color--nortic-light-blue);
  padding: 12px 24px;
  border-radius: 12px;
}

.wp-block-nortic-plugin-document-explorer
  ul.document-explorer-list.items-list
  .document-explorer-item.note:hover
  .document-explorer-item-note {
  cursor: pointer;
}

.wp-block-nortic-plugin-document-explorer
  ul.document-explorer-list.items-list
  .document-explorer-item.note
  .document-explorer-item-note
  .document-explorer-item-note-content {
  display: flex;
  align-items: center;
  gap: 24px;
}

/* note icon */
.wp-block-nortic-plugin-document-explorer
  ul.document-explorer-list.items-list
  .document-explorer-item.note
  .document-explorer-item-note
  .document-explorer-item-note-content
  i {
  font-size: 32px;
  color: var(--wp--preset--color--nortic-dark-gray);
  transition: all 0.3s ease-in-out;
}

.wp-block-nortic-plugin-document-explorer
  ul.document-explorer-list.items-list
  .document-explorer-item.note:hover
  .document-explorer-item-note
  .document-explorer-item-note-content
  i {
  color: var(--wp--preset--color--nortic-blue);
}

/* note info */
.wp-block-nortic-plugin-document-explorer
  ul.document-explorer-list.items-list
  .document-explorer-item.note
  .document-explorer-item-note
  .document-explorer-item-note-content
  .document-explorer-item-note-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* note title */

.wp-block-nortic-plugin-document-explorer
  ul.document-explorer-list.items-list
  .document-explorer-item.note
  .document-explorer-item-note
  .document-explorer-item-note-content
  .document-explorer-item-note-info
  .document-explorer-item-note-title {
  font-weight: 600;
  color: var(--wp--preset--color--nortic-black);
  transition: all 0.3s ease-in-out;
}

.wp-block-nortic-plugin-document-explorer
  ul.document-explorer-list.items-list
  .document-explorer-item.note:hover
  .document-explorer-item-note
  .document-explorer-item-note-content
  .document-explorer-item-note-info
  .document-explorer-item-note-title {
  color: var(--wp--preset--color--nortic-blue);
}

/* note description */
.wp-block-nortic-plugin-document-explorer
  ul.document-explorer-list.items-list
  .document-explorer-item.note
  .document-explorer-item-note
  .document-explorer-item-note-content
  .document-explorer-item-note-info
  .document-explorer-item-note-description {
  color: var(--wp--preset--color--nortic-dark-gray);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2rem;
  transition: all 0.3s ease-in-out;
}

.wp-block-nortic-plugin-document-explorer
  ul.document-explorer-list.items-list
  .document-explorer-item.note:hover
  .document-explorer-item-note
  .document-explorer-item-note-content
  .document-explorer-item-note-info
  .document-explorer-item-note-description {
  color: var(--wp--preset--color--nortic-blue);
}

/* note meta */

.wp-block-nortic-plugin-document-explorer
  ul.document-explorer-list.items-list
  .document-explorer-item.note
  .document-explorer-item-note
  .document-explorer-item-note-content
  .document-explorer-item-note-info
  .document-explorer-item-note-meta {
  color: var(--wp--preset--color--nortic-dark-gray);
  font-weight: 400;
}

/* EXTERNAL LINK */
.wp-block-nortic-plugin-document-explorer
  ul.document-explorer-list.items-list
  .document-explorer-item.external_link
  .document-explorer-item-external-link {
  background-color: var(--wp--preset--color--nortic-light-blue);
  padding: 12px 24px;
  border-radius: 12px;
}

.wp-block-nortic-plugin-document-explorer
  ul.document-explorer-list.items-list
  .document-explorer-item.external_link:hover
  .document-explorer-item-external-link {
  cursor: pointer;
}

.wp-block-nortic-plugin-document-explorer
  ul.document-explorer-list.items-list
  .document-explorer-item.external_link
  .document-explorer-item-external-link
  .document-explorer-item-external-link-content {
  display: flex;
  align-items: center;
  gap: 24px;
}

/* link icon */
.wp-block-nortic-plugin-document-explorer
  ul.document-explorer-list.items-list
  .document-explorer-item.external_link
  .document-explorer-item-external-link
  .document-explorer-item-external-link-content
  i {
  font-size: 50px;
  color: var(--wp--preset--color--nortic-blue);
  transition: all 0.3s ease-in-out;
}

.wp-block-nortic-plugin-document-explorer
  ul.document-explorer-list.items-list
  .document-explorer-item.external_link:hover
  .document-explorer-item-external-link
  .document-explorer-item-external-link-content
  i {
  color: var(--wp--preset--color--nortic-azure-blue);
}

/* link info */
.wp-block-nortic-plugin-document-explorer
  ul.document-explorer-list.items-list
  .document-explorer-item.external_link
  .document-explorer-item-external-link
  .document-explorer-item-external-link-content
  .document-explorer-item-external-link-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

/* link title */
.wp-block-nortic-plugin-document-explorer
  ul.document-explorer-list.items-list
  .document-explorer-item.external_link
  .document-explorer-item-external-link
  .document-explorer-item-external-link-content
  .document-explorer-item-external-link-info
  div
  .document-explorer-item-external-link-title {
  font-weight: 600;
  color: var(--wp--preset--color--nortic-blue);
  transition: all 0.3s ease-in-out;
}

.wp-block-nortic-plugin-document-explorer
  ul.document-explorer-list.items-list
  .document-explorer-item.external_link:hover
  .document-explorer-item-external-link
  .document-explorer-item-external-link-content
  .document-explorer-item-external-link-info
  div
  .document-explorer-item-external-link-title {
  color: var(--wp--preset--color--nortic-azure-blue);
}

/* link description */
.wp-block-nortic-plugin-document-explorer
  ul.document-explorer-list.items-list
  .document-explorer-item.external_link
  .document-explorer-item-external-link
  .document-explorer-item-external-link-content
  .document-explorer-item-external-link-info
  div
  .document-explorer-item-external-link-description {
  color: var(--wp--preset--color--nortic-blue);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2rem;
  transition: all 0.3s ease-in-out;
}

.wp-block-nortic-plugin-document-explorer
  ul.document-explorer-list.items-list
  .document-explorer-item.external_link:hover
  .document-explorer-item-external-link
  .document-explorer-item-external-link-content
  .document-explorer-item-external-link-info
  div
  .document-explorer-item-external-link-description {
  color: var(--wp--preset--color--nortic-azure-blue);
}

/* enlace meta   */

.wp-block-nortic-plugin-document-explorer
  ul.document-explorer-list.items-list
  .document-explorer-item.external_link
  .document-explorer-item-external-link
  .document-explorer-item-external-link-content
  .document-explorer-item-external-link-info
  .document-explorer-item-external-link-actions
  .document-explorer-item-external-link-link {
  background-color: var(--wp--preset--color--nortic-blue);
  color: var(--wp--preset--color--nortic-white);
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 60px;
  padding: 12px 32px;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* enlace meta hover */

.wp-block-nortic-plugin-document-explorer
  ul.document-explorer-list.items-list
  .document-explorer-item.external_link
  .document-explorer-item-external-link
  .document-explorer-item-external-link-content
  .document-explorer-item-external-link-info
  .document-explorer-item-external-link-actions
  .document-explorer-item-external-link-link:hover {
  background-color: var(--wp--preset--color--nortic-blue-hover);
}
