.service-accordion-toggle-button {
  diplay: flex;
  align-items: center;
  gap: 1rem;
}

.service-accordion-toggle-icon.dashicons {
  font-size: 35px !important;
  /* width: 35px; */
  height: 35px;
  color: red;
}

.component-services-accordion-list .service-accordion-toggle-button a {
  text-decoration: none;
}

.component-services-accordion-list
  .service-accordion-toggle-button
  a
  .service-accordion-title {
  color: var(--wp--preset--color--nortic-blue);
}

.component-services-accordion-list
  .service-accordion-toggle-button
  a:hover
  .service-accordion-title {
  color: var(--wp--preset--color--nortic-red);
}

.service-accordion-toggle-content {
  transition: all 0.5s ease-in-out;
}
