/* Carousel */
.editor-styles-wrapper .wp-block-nortic-plugin-slideshow.glide-slideshow,
.wp-block-nortic-plugin-slideshow.glide-slideshow {
  position: relative;
  padding-bottom: 3.5rem; /* Asegura espacio para los bullets */
  /* height: 400px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.editor-styles-wrapper
  .wp-block-nortic-plugin-slideshow.glide-slideshow
  .glide__track,
.wp-block-nortic-plugin-slideshow.glide-slideshow .glide__track {
  position: relative;
  /* height: 380px; */
}

/* bullets  */
.editor-styles-wrapper
  .wp-block-nortic-plugin-slideshow.glide-slideshow
  .glide__bullets,
.wp-block-nortic-plugin-slideshow.glide-slideshow .glide__bullets {
  /* height: 20px; */
  display: flex;
  margin-top: 2rem;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.editor-styles-wrapper
  .wp-block-nortic-plugin-slideshow.glide-slideshow
  .glide__bullets
  button,
.wp-block-nortic-plugin-slideshow.glide-slideshow .glide__bullets button {
  background-color: rgba(0, 56, 118, 0.5);
}

.editor-styles-wrapper
  .wp-block-nortic-plugin-slideshow.glide-slideshow
  .glide__bullets
  button.glide__bullet--active,
.wp-block-nortic-plugin-slideshow.glide-slideshow
  .glide__bullets
  button.glide__bullet--active {
  background-color: rgba(0, 56, 118, 1);
}

/* arrows */
.editor-styles-wrapper
  .wp-block-nortic-plugin-slideshow.glide-slideshow
  .glide__arrows,
.wp-block-nortic-plugin-slideshow.glide-slideshow .glide__arrows {
  position: absolute;
  width: 100%;
  top: 40%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none; /* Evita interacción si no está visible */
}

.editor-styles-wrapper
  .wp-block-nortic-plugin-slideshow.glide-slideshow:hover
  .glide__arrows,
.wp-block-nortic-plugin-slideshow.glide-slideshow:hover .glide__arrows {
  opacity: 1;
  pointer-events: auto;
}

/* Arrows por defecto ocultos fuera del contenedor */
.editor-styles-wrapper
  .wp-block-nortic-plugin-slideshow.glide-slideshow
  .glide__arrow,
.wp-block-nortic-plugin-slideshow.glide-slideshow .glide__arrow {
  background-color: #ee2a24;
  color: #fff;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  pointer-events: none;
  border: none;
}

.editor-styles-wrapper
  .wp-block-nortic-plugin-slideshow.glide-slideshow
  .glide__arrow
  i,
.wp-block-nortic-plugin-slideshow.glide-slideshow .glide__arrow i {
  font-size: 24px;
}

.editor-styles-wrapper
  .wp-block-nortic-plugin-slideshow.glide-slideshow:hover
  .glide__arrow,
.wp-block-nortic-plugin-slideshow.glide-slideshow:hover .glide__arrow {
  opacity: 1;
  pointer-events: auto;
}

.editor-styles-wrapper
  .wp-block-nortic-plugin-slideshow.glide-slideshow
  .glide__arrow.glide__arrow--prev,
.wp-block-nortic-plugin-slideshow.glide-slideshow
  .glide__arrow.glide__arrow--prev {
  transform: translateX(-100%);
  border-radius: 0 4px 4px 0;
}

.editor-styles-wrapper
  .wp-block-nortic-plugin-slideshow.glide-slideshow:hover
  .glide__arrow.glide__arrow--prev,
.wp-block-nortic-plugin-slideshow.glide-slideshow:hover
  .glide__arrow.glide__arrow--prev {
  transform: translateX(0);
}

.editor-styles-wrapper
  .wp-block-nortic-plugin-slideshow.glide-slideshow
  .glide__arrow.glide__arrow--next,
.wp-block-nortic-plugin-slideshow.glide-slideshow
  .glide__arrow.glide__arrow--next {
  right: 0;
  transform: translateX(100%);
  border-radius: 4px 0 0 4px;
}

.editor-styles-wrapper
  .wp-block-nortic-plugin-slideshow.glide-slideshow:hover
  .glide__arrow.glide__arrow--next,
.wp-block-nortic-plugin-slideshow.glide-slideshow:hover
  .glide__arrow.glide__arrow--next {
  transform: translateX(0);
}
