/* File List */
.wp-block-nortic-plugin-file-list {
  margin-bottom: 2rem;
}
.wp-block-nortic-plugin-file-list .file-list-container {
  display: flex;
  flex-direction: column;
  /* gap: 1.25em; */
}

.wp-block-nortic-plugin-file-list .file-list-container .file-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.wp-block-nortic-plugin-file-list .file-list-container .file-options a.button {
  height: 35px;
  display: flex;
  align-items: center;
  line-height: 35px;
  font-size: 14px;
  padding: 8px 12px;
  text-transform: capitalize !important;
}

@media (max-width: 576px) {
  .wp-block-nortic-plugin-file-list .file-list-container {
    display: block;
  }
  .wp-block-nortic-plugin-file-list .file-list-container .file-size {
    display: none;
  }
  .wp-block-nortic-plugin-file-list .file-list-container .file-date-label {
    display: none;
  }
  .wp-block-nortic-plugin-file-list .file-list-container .file-options {
    display: none;
  }
}

.wp-block-nortic-plugin-file-list img.file-icon {
  /* filter: drop-shadow(0px 0px 4px var(--wp--preset--color--nortic-light-gray)); */
  filter: drop-shadow(0px 0px 4px rgba(6, 22, 58, 0.2));
  /* box-shadow: 0px 10px 40px 0px rgba(6, 22, 58, 0.1); */
}

.wp-block-nortic-plugin-file-list .file-list-container .file-info {
  width: 35px;
  height: 35px;
  background-color: var(--wp--preset--color--nortic-white);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

.wp-block-nortic-plugin-file-list .file-list-container .file-info i {
  color: var(--wp--preset--color--nortic-red);
  font-size: 25px;
}

.wp-block-nortic-plugin-file-list .file-list-container .file-info span {
  color: var(--wp--preset--color--nortic-blue);
}

.wp-block-nortic-plugin-file-list .file-list-container .file-list-item {
  border-top: 1px solid var(--wp--preset--color--nortic-gray);
  border-bottom: 1px solid var(--wp--preset--color--nortic-gray);
}

.wp-block-nortic-plugin-file-list
  .file-list-container
  .file-list-item
  .file-list-info
  h6
  a {
  text-decoration: none;
  color: var(--wp--preset--color--nortic-black);
}
.wp-block-nortic-plugin-file-list
  .file-list-container
  .file-list-item
  .file-list-info
  .file-list-meta
  span {
  font-size: 12px;
  color: var(--wp--preset--color--nortic-dark-gray);
}
.wp-block-nortic-plugin-file-list .file-list-container a:visited {
  color: inherit;
}
.wp-block-nortic-plugin-file-list .file-list-container a.file-category {
  background-color: var(--wp--preset--color--nortic-light-gray);
}

.wp-block-nortic-plugin-file-list
  .file-list-container
  a.file-category
  .file-list-category-items-count {
  background-color: var(--wp--preset--color--nortic-gray);
}
.wp-block-nortic-plugin-file-list .file-list-container a i.category {
  color: var(--wp--preset--color--nortic-yellow);
}
.wp-block-nortic-plugin-file-list .file-list-container a i.file {
  color: var(--wp--preset--color--nortic-red);
}

.wp-block-nortic-plugin-file-list .file-list-container a.col-1 {
  width: calc(100% / 1);
}
.wp-block-nortic-plugin-file-list .file-list-container a.col-2 {
  width: calc((100% / 2) - 0.83333em);
}
.wp-block-nortic-plugin-file-list .file-list-container a.col-3 {
  width: calc((100% / 3) - 0.83333em);
}

.wp-block-nortic-plugin-file-list .file-list-container a.col-10 {
  width: calc((100% / 3) - 0.83333em);
}

@media (max-width: 576px) {
  .wp-block-nortic-plugin-file-list .file-list-container a.col-2 {
    width: calc(100% / 1);
  }
  .wp-block-nortic-plugin-file-list .file-list-container a.col-3 {
    width: calc(100% / 1);
  }

  .wp-block-nortic-plugin-file-list .file-list-container a.col-10 {
    width: calc(100% / 1);
  }
}
