/* Carousel */
.wp-block-nortic-plugin-carousel {
  background-color: var(--wp--preset--color--nortic-blue);
  /* height: 20rem; */
  height: 70vh;
}
@media (max-width: 576px) {
  .wp-block-nortic-plugin-carousel {
    height: 70vh;
  }
}

.wp-block-nortic-plugin-carousel button span.slide-control {
  display: inline-flex !important;
  background-color: rgba(255, 255, 255, 0.1);
}
.wp-block-nortic-plugin-carousel button span.slide-control:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
.wp-block-nortic-plugin-carousel .slide-indicators button {
  background-color: rgba(255, 255, 255, 0.5);
}
.wp-block-nortic-plugin-carousel .glide__bullets .glide__bullet {
  background-color: rgba(255, 255, 255, 0.2);
}
.wp-block-nortic-plugin-carousel .glide__bullets button.glide__bullet:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.wp-block-nortic-plugin-carousel
  .glide__bullets
  .glide__bullet.glide__bullet--active {
  background-color: rgba(255, 255, 255, 0.9);
}

.wp-block-nortic-plugin-carousel .glide__slides .glide__slide {
  /* height: 20rem; */
  height: 70vh;
}
@media (max-width: 576px) {
  .wp-block-nortic-plugin-carousel .glide__slides .glide__slide {
    height: 70vh;
  }
}
.wp-block-nortic-plugin-carousel
  .glide__slides
  .glide__slide
  .carousel_bg-image {
  height: 100%;
}

.wp-block-nortic-plugin-carousel .carousel_bg-image .carousel_content {
  height: 100%;
  background-image: linear-gradient(
    90deg,
    rgba(0, 56, 118, 0.9) 0%,
    rgba(0, 56, 118, 0.5) 25%,
    rgba(0, 56, 118, 0.5) 75%,
    rgba(0, 56, 118, 1) 100%
  );
  transition: background-color 0.3s ease-in-out;
  /* padding-bottom: 7.5rem !important; */
}

@media (max-width: 576px) {
  .wp-block-nortic-plugin-carousel .carousel_bg-image .carousel_content {
    height: 100%;
    background-image: linear-gradient(
      90deg,
      rgba(0, 56, 118, 0.9) 0%,
      rgba(0, 56, 118, 0.5) 25%,
      rgba(0, 56, 118, 0.5) 75%,
      rgba(0, 56, 118, 1) 100%
    );
  }
}

.wp-block-nortic-plugin-carousel
  .carousel_bg-image
  .carousel_content
  .nortic-plugin-carousel-content {
  position: absolute;
  left: 0;
  bottom: 48px; /* 0; */
  width: 50%;
  /* background-color: rgba(255, 255, 255, 0.2); */
  /* backdrop-filter: blur(5px); */
  /* padding: 20px; */
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 54px;
}

@media (max-width: 576px) {
  .wp-block-nortic-plugin-carousel
    .carousel_bg-image
    .carousel_content
    .nortic-plugin-carousel-content {
    position: absolute;
    bottom: 0;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.wp-block-nortic-plugin-carousel
  .carousel_bg-image
  .carousel_content
  .nortic-plugin-carousel-content
  div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Los <li> se alinean al principio */
  padding: 0;
  gap: 16px;
}

.wp-block-nortic-plugin-carousel
  .carousel_bg-image
  .carousel_content
  .nortic-plugin-carousel-content
  ul.carousel-post-cats {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Los <li> se alinean al principio */
  padding-left: 8px;
  list-style: none;
  border-left: 1px solid var(--wp--preset--color--nortic-light-gray);
}

.wp-block-nortic-plugin-carousel
  .carousel_bg-image
  .carousel_content
  .nortic-plugin-carousel-content
  ul.carousel-post-cats
  li.carousel-post-cat-item {
  margin-left: 0;
  /* padding-right: 4px; // Espacio entre el contenido y el borde */
  /* border-right: 1px solid #ddd; // Aplica el borde derecho  */
}

.wp-block-nortic-plugin-carousel
  .carousel_bg-image
  .carousel_content
  .nortic-plugin-carousel-content
  ul.carousel-post-cats
  li.carousel-post-cat-item:not(:first-child) {
  /* padding-left: 10px; // Añade padding a los elementos que no son el primero */
}

.wp-block-nortic-plugin-carousel
  .carousel_bg-image
  .carousel_content
  .nortic-plugin-carousel-content
  ul.carousel-post-cats
  li.carousel-post-cat-item:last-child {
  margin-right: 0;
  border-right: none; /* Elimina el borde derecho del último <li> */
}

.wp-block-nortic-plugin-carousel
  .carousel_bg-image
  .carousel_content
  .nortic-plugin-carousel-content
  ul.carousel-post-cats
  li.carousel-post-cat-item
  a {
  color: var(--wp--preset--color--nortic-light-gray);
  text-decoration: none;
  font-size: 14px !important;
  letter-spacing: 3px;
  white-space: nowrap;
}

.wp-block-nortic-plugin-carousel
  .carousel_bg-image
  .carousel_content
  .nortic-plugin-carousel-content
  ul.carousel-post-cats
  li.carousel-post-cat-item
  a:hover {
  color: var(--wp--preset--color--nortic-white);
  font-weight: 600;
  text-decoration: none;
}

.wp-block-nortic-plugin-carousel
  .carousel_bg-image
  .carousel_content
  .nortic-plugin-carousel-content
  ul.carousel-post-cats
  li.carousel-post-cat-item.carousel-post-cat-item-province
  a {
  font-size: 10px !important;
  color: var(--wp--preset--color--nortic-gray);
  text-transform: uppercase;
  white-space: nowrap;
}

.wp-block-nortic-plugin-carousel
  .carousel_bg-image
  .carousel_content
  .nortic-plugin-carousel-heading,
.wp-block-nortic-plugin-carousel
  .carousel_bg-image
  .carousel_content
  .nortic-plugin-carousel-heading
  a {
  display: block;
  font-family: var(--wp--preset--font-family--nortic-poppins);
  font-style: normal;
  font-weight: 500 !important;
  font-size: var(--wp--preset--font-size--h-3);
  line-height: var(--wp--custom--line-height--heading);
  color: var(--wp--preset--color--nortic-white);
  /* margin-bottom: 2rem; */
  text-decoration: none;
}
.wp-block-nortic-plugin-carousel
  .carousel_bg-image
  .carousel_content
  .carousel-content-excerpt {
  font-family: var(--wp--preset--font-family--nortic-roboto);
  font-style: normal;
  font-weight: 500 !important;
  font-size: var(--wp--preset--font-size--paragraph);
  line-height: var(--wp--custom--line-height--body);
  color: var(--wp--preset--color--nortic-light-gray);
  margin-bottom: 2.5rem;
}
@media (max-width: 576px) {
  .wp-block-nortic-plugin-carousel
    .carousel_bg-image
    .carousel_content
    .carousel-content-excerpt {
    display: none;
  }
}
@media (max-width: 576px) {
  .wp-block-nortic-plugin-carousel
    .carousel_bg-image
    .carousel_content
    .nortic-plugin-carousel-heading,
  .wp-block-nortic-plugin-carousel
    .carousel_bg-image
    .carousel_content
    .nortic-plugin-carousel-heading
    a {
    /* font-size: 1rem; */
    font-size: var(--wp--preset--font-size--subtitle-2);
  }
}
.wp-block-nortic-plugin-carousel
  .carousel_bg-image
  .carousel_content
  .container
  .nortic-plugin-carousel-heading
  a:hover {
  color: var(--wp--preset--color--nortic-white);
}
.wp-block-nortic-plugin-carousel
  .carousel_bg-image
  .carousel_content
  .container
  .nortic-plugin-carousel-heading
  a:visited {
  color: var(--wp--preset--color--nortic-white);
}
.wp-block-nortic-plugin-carousel
  .carousel_bg-image
  .carousel_content
  .container
  a.wp-block-button__link {
  background-color: var(--wp--preset--color--nortic-red);
  color: var(--wp--preset--color--nortic-white);
  border-radius: 0.5rem;
}

/* date */
.wp-block-nortic-plugin-carousel
  .carousel_bg-image
  .carousel_content
  .nortic-plugin-carousel-content
  div
  time {
  color: var(--wp--preset--color--nortic-light-gray);
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px;
}

/* actions */
.wp-block-nortic-plugin-carousel
  .carousel_bg-image
  .carousel_content
  .nortic-plugin-carousel-content
  .nortic-plugin-carousel-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.wp-block-nortic-plugin-carousel
  .carousel_bg-image
  .carousel_content
  .nortic-plugin-carousel-content
  .nortic-plugin-carousel-actions
  a.normic-plugin-carousel-read-more {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  color: var(--wp--preset--color--nortic-white);
  font-size: 14px;
  letter-spacing: 3px;
}

.wp-block-nortic-plugin-carousel
  .carousel_bg-image
  .carousel_content
  .nortic-plugin-carousel-content
  .nortic-plugin-carousel-actions
  a.normic-plugin-carousel-read-more
  > span {
  border: 2px solid var(--wp--preset--color--nortic-white);
  width: 30px;
  height: 30px;
  /* padding: 8px; */
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
