.editor-styles-wrapper
  .wp-block-nortic-plugin-slide.glide__slide
  .slide_bg-image-container,
.wp-block-nortic-plugin-slide.glide__slide .slide_bg-image-container {
  position: relative;
  /* height: 400px; */
  display: flex;
  align-items: center;
  overflow: hidden;
}

.editor-styles-wrapper
  .wp-block-nortic-plugin-slide.glide__slide
  .slide_bg-image-container
  img,
.wp-block-nortic-plugin-slide.glide__slide .slide_bg-image-container img {
  width: 100%;
}

.editor-styles-wrapper
  .wp-block-nortic-plugin-slide.glide__slide:hover
  .slide_bg-image-container
  img,
.wp-block-nortic-plugin-slide.glide__slide:hover .slide_bg-image-container img {
  opacity: 0.7;
}

.editor-styles-wrapper
  .wp-block-nortic-plugin-slide.glide__slide
  .slide_content,
.wp-block-nortic-plugin-slide.glide__slide .slide_content {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  max-width: 100%;
  padding: 4rem;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  overflow: hidden;
}

.editor-styles-wrapper
  .wp-block-nortic-plugin-slide.glide__slide
  .slide_content
  .slide_title,
.wp-block-nortic-plugin-slide.glide__slide .slide_content .slide_title {
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.editor-styles-wrapper
  .wp-block-nortic-plugin-slide.glide__slide
  .slide_content
  .slide_sub-title,
.wp-block-nortic-plugin-slide.glide__slide .slide_content .slide_sub-title {
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
